<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <form novalidate [formGroup]="exampleForm" (ngSubmit)="onSubmit(exampleForm)">
        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" formControlName="email" class="form-control" id="email">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" formControlName="pass" class="form-control" id="pwd">
        </div>
        
        <div class="form-group">
            <p-calendar formControlName="date"></p-calendar>
          </div>
        <button type="submit" [disabled]="!exampleForm.valid" class="btn btn-primary">Submit</button>
        <button type="button" (click)="resetFormValues()" class="btn btn-primary">reset</button>
      </form>
    </div>
    <div class="col-6">
      <pre>Is myForm valid?: {{exampleForm.valid | json}}</pre>
      <pre>Form: {{exampleForm.value | json}}</pre>
    </div>
  </div>
</div>